STANDARDHEADER 
        
        <script>
			var syncing = SYNCING;
			
			var defaultCountryCode = 'COUNTRYCODE';
			var defaultStyle = 'STYLE';
			var defaultProxy = 'PROXY';
			var lockDown = LOCKDOWN;
			

			function checkCall()
			{
				if(syncing == true) {
					var serv = document.getElementById('server').value;
					if((serv != "")&&(serv != "https://")) {
						
						var goAhead = true;
						if((defaultStyle != "none")&&(defaultStyle != "private")) {
							if(lockDown == true) {
								alert("Warning: You are trying to change the connection to a private connection. However, your server is not configured to allow this change.");
								goAhead = false;
							} else {
						
								if(confirm("Warning: You are changing the connection to a private connection. This could interrupt any apps that have already synced, and would require them to resync. Are you sure you want to do this?")) {
									//Nothing here
								} else {
									goAhead = false;
								}
							}
						}
						
						if((defaultProxy != '')&&(defaultProxy != document.getElementById('server').value)) {
							if(lockDown == true) {
								alert("Warning: You are trying to change the private connection address. However, your server is not configured to allow this change.");
								goAhead = false;
							} else {
						
						
								if(confirm("Warning: You are changing the private connection address. This could interrupt any apps that have already synced, and would require them to resync. Are you sure you want to do this?")) {
									//Nothing here
								} else {
									goAhead = false;
								}
							}
						
						}
						
							
						if(goAhead == true) {
							var address= '/pair?proxyServer=' + encodeURIComponent(document.getElementById('server').value) + '&style=private';
							window.location.href = address;
						}
					} else {
						alert("Please enter your MedImage server address first.");
						$('#private-details').slideDown();
					}

				} else {
					alert("Sorry, this server is not configured to pair. Check your config.json file.");
				}

				return false;
			}

			function pair()
			{
				if(syncing == true) {
					var goAhead = true;
					if((defaultStyle != "none")&&(defaultStyle != "aj")) {
						if(lockDown == true) {
								alert("Warning: You are trying to change the connection to an AtomJump / MedImage connection. However, your server is not configured to allow this change.");
								goAhead = false;
						} else {
						
							if(confirm("Warning: You are changing the connection to an AtomJump / MedImage connection. This could interrupt any apps that have already synced, and would require them to resync. Are you sure you want to do this?")) {
								//Nothing here
							} else {
								goAhead = false;
							}
						}
					}
					
					if((defaultCountryCode != "")&&(defaultCountryCode != document.getElementById('country').value)) {
						if(lockDown == true) {
								alert("Warning: You are trying to change the country of the AtomJump / MedImage connection. However, your server is not configured to allow this change.");
								goAhead = false;
						} else {
							if(confirm("Warning: You are changing the country of the AtomJump / MedImage server to sync against. This could interrupt any apps that have already synced, and would require them to resync. Are you sure you want to do this?")) {
								//Nothing here		
							} else {
								goAhead = false;
							}
						}
					}
					
					if(goAhead == true) {
						window.location = "/pair?country=" + document.getElementById('country').value + '&style=aj';
					}
				} else {
					alert("Sorry, this server is not configured to pair. Check your config.json file.");
				}
				return false;
			}
   		</script>
        

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
					&nbsp;
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-default disabled" id="wifi-big-button">
                    	<a href="#" class="panel-default" id="wifi-details-button" onclick="$('#wifi-details').slideToggle();">
							<div class="panel-heading">
								<div class="row" >
									<div class="col-xs-3">
										<i class="fa fa-rss fa-5x text-muted" id="wifi-button-icon"></i>
									</div>
									<div class="col-xs-9 text-right text-muted" id="wifi-button-text">
										<div class="huge">Wifi</div>
										<div>Wifi Pairing</div>
									</div>
								</div>
							</div>
						</a>
                        
                            <div onclick="$('#wifi-details').slideToggle();" style="cursor: pointer;" class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                                <div id="wifi-details" style="display:none;">
                                	<small class="pull-left">Already available, and <b>free</b>, though you need a local installation of the <a href="https://src.atomjump.com/atomjump/medimage" target="_blank">MedImage App Server</a>, which can take expert IT help to install.  You can also only use the MedImage <a href="http://medimage.co.nz/guide/#professional" target="_blank">Professional app</a>, and not the <a href="http://medimage.co.nz/guide/#standard" target="_blank">Standard app</a>.<br/></small>
                                </div>
                                <div class="clearfix"></div>
                                
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary" id="aj-big-button">
                        <a href="#" onclick="return pair();" class="panel-primary" id="aj-details-button">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-tasks fa-5x" id="aj-button-icon"></i>
									</div>
									<div class="col-xs-9 text-right" id="aj-button-text">
										<div class="huge">AJ</div>
										<div>App Pairing</div>
									</div>
								</div>
							</div>
                        </a>
                        <a href="#" onclick="$('#aj-details').slideToggle();">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                                <div id="aj-details" style="display:none;">
									<small class="pull-left">Pushing this button will generate a <b>4-digit pairing code</b> for your app.<br/><br/>Optional: Select where your AtomJump transfer server is preferably based:</small>
									<select id="country" style="width:80%;">
										<option value="AF">Afghanistan</option>
										<option value="AX">Åland Islands</option>
										<option value="AL">Albania</option>
										<option value="DZ">Algeria</option>
										<option value="AS">American Samoa</option>
										<option value="AD">Andorra</option>
										<option value="AO">Angola</option>
										<option value="AI">Anguilla</option>
										<option value="AQ">Antarctica</option>
										<option value="AG">Antigua and Barbuda</option>
										<option value="AR">Argentina</option>
										<option value="AM">Armenia</option>
										<option value="AW">Aruba</option>
										<option value="AU">Australia</option>
										<option value="AT">Austria</option>
										<option value="AZ">Azerbaijan</option>
										<option value="BS">Bahamas</option>
										<option value="BH">Bahrain</option>
										<option value="BD">Bangladesh</option>
										<option value="BB">Barbados</option>
										<option value="BY">Belarus</option>
										<option value="BE">Belgium</option>
										<option value="BZ">Belize</option>
										<option value="BJ">Benin</option>
										<option value="BM">Bermuda</option>
										<option value="BT">Bhutan</option>
										<option value="BO">Bolivia, Plurinational State of</option>
										<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
										<option value="BA">Bosnia and Herzegovina</option>
										<option value="BW">Botswana</option>
										<option value="BV">Bouvet Island</option>
										<option value="BR">Brazil</option>
										<option value="IO">British Indian Ocean Territory</option>
										<option value="BN">Brunei Darussalam</option>
										<option value="BG">Bulgaria</option>
										<option value="BF">Burkina Faso</option>
										<option value="BI">Burundi</option>
										<option value="KH">Cambodia</option>
										<option value="CM">Cameroon</option>
										<option value="CA">Canada</option>
										<option value="CV">Cape Verde</option>
										<option value="KY">Cayman Islands</option>
										<option value="CF">Central African Republic</option>
										<option value="TD">Chad</option>
										<option value="CL">Chile</option>
										<option value="CN">China</option>
										<option value="CX">Christmas Island</option>
										<option value="CC">Cocos (Keeling) Islands</option>
										<option value="CO">Colombia</option>
										<option value="KM">Comoros</option>
										<option value="CG">Congo</option>
										<option value="CD">Congo, the Democratic Republic of the</option>
										<option value="CK">Cook Islands</option>
										<option value="CR">Costa Rica</option>
										<option value="CI">Côte d'Ivoire</option>
										<option value="HR">Croatia</option>
										<option value="CU">Cuba</option>
										<option value="CW">Curaçao</option>
										<option value="CY">Cyprus</option>
										<option value="CZ">Czech Republic</option>
										<option value="DK">Denmark</option>
										<option value="DJ">Djibouti</option>
										<option value="DM">Dominica</option>
										<option value="DO">Dominican Republic</option>
										<option value="EC">Ecuador</option>
										<option value="EG">Egypt</option>
										<option value="SV">El Salvador</option>
										<option value="GQ">Equatorial Guinea</option>
										<option value="ER">Eritrea</option>
										<option value="EE">Estonia</option>
										<option value="ET">Ethiopia</option>
										<option value="FK">Falkland Islands (Malvinas)</option>
										<option value="FO">Faroe Islands</option>
										<option value="FJ">Fiji</option>
										<option value="FI">Finland</option>
										<option value="FR">France</option>
										<option value="GF">French Guiana</option>
										<option value="PF">French Polynesia</option>
										<option value="TF">French Southern Territories</option>
										<option value="GA">Gabon</option>
										<option value="GM">Gambia</option>
										<option value="GE">Georgia</option>
										<option value="DE">Germany</option>
										<option value="GH">Ghana</option>
										<option value="GI">Gibraltar</option>
										<option value="GR">Greece</option>
										<option value="GL">Greenland</option>
										<option value="GD">Grenada</option>
										<option value="GP">Guadeloupe</option>
										<option value="GU">Guam</option>
										<option value="GT">Guatemala</option>
										<option value="GG">Guernsey</option>
										<option value="GN">Guinea</option>
										<option value="GW">Guinea-Bissau</option>
										<option value="GY">Guyana</option>
										<option value="HT">Haiti</option>
										<option value="HM">Heard Island and McDonald Islands</option>
										<option value="VA">Holy See (Vatican City State)</option>
										<option value="HN">Honduras</option>
										<option value="HK">Hong Kong</option>
										<option value="HU">Hungary</option>
										<option value="IS">Iceland</option>
										<option value="IN">India</option>
										<option value="ID">Indonesia</option>
										<option value="IR">Iran, Islamic Republic of</option>
										<option value="IQ">Iraq</option>
										<option value="IE">Ireland</option>
										<option value="IM">Isle of Man</option>
										<option value="IL">Israel</option>
										<option value="IT">Italy</option>
										<option value="JM">Jamaica</option>
										<option value="JP">Japan</option>
										<option value="JE">Jersey</option>
										<option value="JO">Jordan</option>
										<option value="KZ">Kazakhstan</option>
										<option value="KE">Kenya</option>
										<option value="KI">Kiribati</option>
										<option value="KP">Korea, Democratic People's Republic of</option>
										<option value="KR">Korea, Republic of</option>
										<option value="KW">Kuwait</option>
										<option value="KG">Kyrgyzstan</option>
										<option value="LA">Lao People's Democratic Republic</option>
										<option value="LV">Latvia</option>
										<option value="LB">Lebanon</option>
										<option value="LS">Lesotho</option>
										<option value="LR">Liberia</option>
										<option value="LY">Libya</option>
										<option value="LI">Liechtenstein</option>
										<option value="LT">Lithuania</option>
										<option value="LU">Luxembourg</option>
										<option value="MO">Macao</option>
										<option value="MK">Macedonia, the former Yugoslav Republic of</option>
										<option value="MG">Madagascar</option>
										<option value="MW">Malawi</option>
										<option value="MY">Malaysia</option>
										<option value="MV">Maldives</option>
										<option value="ML">Mali</option>
										<option value="MT">Malta</option>
										<option value="MH">Marshall Islands</option>
										<option value="MQ">Martinique</option>
										<option value="MR">Mauritania</option>
										<option value="MU">Mauritius</option>
										<option value="YT">Mayotte</option>
										<option value="MX">Mexico</option>
										<option value="FM">Micronesia, Federated States of</option>
										<option value="MD">Moldova, Republic of</option>
										<option value="MC">Monaco</option>
										<option value="MN">Mongolia</option>
										<option value="ME">Montenegro</option>
										<option value="MS">Montserrat</option>
										<option value="MA">Morocco</option>
										<option value="MZ">Mozambique</option>
										<option value="MM">Myanmar</option>
										<option value="NA">Namibia</option>
										<option value="NR">Nauru</option>
										<option value="NP">Nepal</option>
										<option value="NL">Netherlands</option>
										<option value="NC">New Caledonia</option>
										<option value="NZ" selected="selected">New Zealand</option>
										<option value="NI">Nicaragua</option>
										<option value="NE">Niger</option>
										<option value="NG">Nigeria</option>
										<option value="NU">Niue</option>
										<option value="NF">Norfolk Island</option>
										<option value="MP">Northern Mariana Islands</option>
										<option value="NO">Norway</option>
										<option value="OM">Oman</option>
										<option value="PK">Pakistan</option>
										<option value="PW">Palau</option>
										<option value="PS">Palestinian Territory, Occupied</option>
										<option value="PA">Panama</option>
										<option value="PG">Papua New Guinea</option>
										<option value="PY">Paraguay</option>
										<option value="PE">Peru</option>
										<option value="PH">Philippines</option>
										<option value="PN">Pitcairn</option>
										<option value="PL">Poland</option>
										<option value="PT">Portugal</option>
										<option value="PR">Puerto Rico</option>
										<option value="QA">Qatar</option>
										<option value="RE">Réunion</option>
										<option value="RO">Romania</option>
										<option value="RU">Russian Federation</option>
										<option value="RW">Rwanda</option>
										<option value="BL">Saint Barthélemy</option>
										<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
										<option value="KN">Saint Kitts and Nevis</option>
										<option value="LC">Saint Lucia</option>
										<option value="MF">Saint Martin (French part)</option>
										<option value="PM">Saint Pierre and Miquelon</option>
										<option value="VC">Saint Vincent and the Grenadines</option>
										<option value="WS">Samoa</option>
										<option value="SM">San Marino</option>
										<option value="ST">Sao Tome and Principe</option>
										<option value="SA">Saudi Arabia</option>
										<option value="SN">Senegal</option>
										<option value="RS">Serbia</option>
										<option value="SC">Seychelles</option>
										<option value="SL">Sierra Leone</option>
										<option value="SG">Singapore</option>
										<option value="SX">Sint Maarten (Dutch part)</option>
										<option value="SK">Slovakia</option>
										<option value="SI">Slovenia</option>
										<option value="SB">Solomon Islands</option>
										<option value="SO">Somalia</option>
										<option value="ZA">South Africa</option>
										<option value="GS">South Georgia and the South Sandwich Islands</option>
										<option value="SS">South Sudan</option>
										<option value="ES">Spain</option>
										<option value="LK">Sri Lanka</option>
										<option value="SD">Sudan</option>
										<option value="SR">Suriname</option>
										<option value="SJ">Svalbard and Jan Mayen</option>
										<option value="SZ">Swaziland</option>
										<option value="SE">Sweden</option>
										<option value="CH">Switzerland</option>
										<option value="SY">Syrian Arab Republic</option>
										<option value="TW">Taiwan, Province of China</option>
										<option value="TJ">Tajikistan</option>
										<option value="TZ">Tanzania, United Republic of</option>
										<option value="TH">Thailand</option>
										<option value="TL">Timor-Leste</option>
										<option value="TG">Togo</option>
										<option value="TK">Tokelau</option>
										<option value="TO">Tonga</option>
										<option value="TT">Trinidad and Tobago</option>
										<option value="TN">Tunisia</option>
										<option value="TR">Turkey</option>
										<option value="TM">Turkmenistan</option>
										<option value="TC">Turks and Caicos Islands</option>
										<option value="TV">Tuvalu</option>
										<option value="UG">Uganda</option>
										<option value="UA">Ukraine</option>
										<option value="AE">United Arab Emirates</option>
										<option value="GB">United Kingdom</option>
										<option value="US">United States</option>
										<option value="UM">United States Minor Outlying Islands</option>
										<option value="UY">Uruguay</option>
										<option value="UZ">Uzbekistan</option>
										<option value="VU">Vanuatu</option>
										<option value="VE">Venezuela, Bolivarian Republic of</option>
										<option value="VN">Viet Nam</option>
										<option value="VG">Virgin Islands, British</option>
										<option value="VI">Virgin Islands, U.S.</option>
										<option value="WF">Wallis and Futuna</option>
										<option value="EH">Western Sahara</option>
										<option value="YE">Yemen</option>
										<option value="ZM">Zambia</option>
										<option value="ZW">Zimbabwe</option>								
										</select>
								</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-default" id="private-big-button">
                        <a href="#" onclick="return checkCall();" class="panel-default" id="private-details-button">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-umbrella fa-5x text-muted" id="private-button-icon"></i>
									</div>
									<div class="col-xs-9 text-right text-muted" id="private-button-text">
										<div class="huge">Your</div>
										<div>Server Pairing</div>
									</div>
								</div>
							</div>
						</a>
                        <a href="#" onclick="$('#private-details').slideToggle();">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                                <div id="private-details" style="display:none;">
                                	<small class="pull-left">Pushing this button will generate a <b>4-digit pairing code</b> for your app, if your MedImage Cloud server has been set up.<br/><br/> This option can be free, but usually takes a professional IT provider to configure.<br/><br/>Please enter your private MedImage Cloud server:</small><br/>
                                	<input id="server" type="text" value="https://">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
            
            
            
            
            <script>
			$("#server").click(function(e) {
			   //do something
			   e.stopPropagation();
			});

			$("#country").click(function(e) {
			   //do something
			   e.stopPropagation();
			});
			
			
			$(document).ready(function() {
				if(defaultProxy != "") {
					$("#server").val(defaultProxy);
				}
				
				if(defaultCountryCode != '') {
					$("#country").val(defaultCountryCode);
				}
				
				switch(defaultStyle) {
				 	case "none":
				 		//Keep all options open
				 	break;
				 	
				 	case "aj":
				 		//Dim the other two large buttons
				 		$("#wifi-big-button").removeClass("panel-primary");
				 		$("#private-big-button").removeClass("panel-primary");
				 		$("#wifi-big-button").addClass("panel-default");
				 		$("#private-big-button").addClass("panel-default");
				 	
				 		$("#wifi-button-icon").addClass("text-muted");
				 		$("#wifi-button-text").addClass("text-muted");
				 		$("#private-button-icon").addClass("text-muted");
				 		$("#private-button-text").addClass("text-muted");
				 		
				 		
				 		$("#wifi-details-button").removeClass("panel-primary");
				 		$("#private-details-button").removeClass("panel-primary");
				 		$("#wifi-details-button").addClass("panel-default");
				 		$("#private-details-button").addClass("panel-default");
				 		
				 		$("#aj-server-badge").addClass("primary");
				 		$("#your-server-badge").removeClass("primary");
				 		
				 	break;
				 	
				 	case "private":
				 		//Dim the other two large buttons
				 		$("#wifi-big-button").removeClass("panel-primary");
				 		$("#aj-big-button").removeClass("panel-primary");
				 		$("#wifi-big-button").addClass("panel-default");
				 		$("#aj-big-button").addClass("panel-default");
				 		
				 		$("#wifi-details-button").removeClass("panel-primary");
				 		$("#aj-details-button").removeClass("panel-primary");
				 		$("#wifi-details-button").addClass("panel-default");
				 		$("#aj-details-button").addClass("panel-default");
				 		
				 		$("#wifi-button-icon").addClass("text-muted");
				 		$("#wifi-button-text").addClass("text-muted");
				 		$("#aj-button-icon").addClass("text-muted");
				 		$("#aj-button-text").addClass("text-muted");
				 		
				 		//And highlight our own large button
				 		$("#private-details-button").removeClass("panel-default");
				 		$("#private-details-button").addClass("panel-primary");
				 		$("#private-button-icon").removeClass("text-muted");
				 		$("#private-button-text").removeClass("text-muted");
				 		
				 		$("#aj-server-badge").removeClass("primary");
				 		$("#your-server-badge").addClass("primary");
				 		
				 	break;
				 	
				 	case "wifi":
				 		//May consider doing this in future. But for now, keep all options open
				 	break;
				
				}
			});

   			</script>
            
            
            <div class="row">
                <div class="col-lg-8">
                    
                    
                    <!-- /.panel -->
                    <div class="panel panel-default hidden-xs">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Quick Start
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div id="wifi-badge" class="timeline-badge"><i class="fa fa-random"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Pairing</h4>
                                            
                                        </div>
                                        <div class="timeline-body">
                                            <p>MedImage Server offers a choice of <b>three ways</b> to connect one of your <a href="http://medimage.co.nz/guide/" target="_blank">MedImage apps</a> to your computer. You can add new phones by pressing one of the option buttons above, and if you come back later, you can add more phones with the same option.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge"><i class="fa fa-rss  "></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">1. Wifi</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Connect through a wifi network attached to this server.  This is <b>very fast</b> and free to use, but works only in range of the wifi network, and you need a local installation of the <a href="https://src.atomjump.com/atomjump/medimage" target="_blank">MedImage App Server</a>, which can take expert IT help to install.  You can also only use the MedImage <a href="http://medimage.co.nz/guide/#professional" target="_blank">Professional app</a>, and not the <a href="http://medimage.co.nz/guide/#standard" target="_blank">Standard app</a>.</p>
                                          
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div id="aj-server-badge" class="timeline-badge primary"><i class="fa fa-tasks   "></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">2. Use our AJ servers</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>This is the easiest option to set up, and will send photos to our cloud servers, temporarily, before being deleted from our server on arrival at this server.  <br/><br/>If you are asked for a <b>4-digit pairing code</b> in your <a href="http://medimage.co.nz/guide/" target="_blank">app</a>, you would usually push the large 'AJ' app pairing button.<br/><br/>Usage charges apply after an initial <b>500MB of free bandwidth</b> (note: this is the total bandwidth allowed under the free program, not a monthly figure), but the charges are <a class="contrastlink" href="http://medimage.co.nz/guide.php#purchase" target="_blank">very reasonable</a>.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                	<div id="your-server-badge" class="timeline-badge"><i class="fa fa-umbrella  "></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">3. Use your own web servers</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>See the <a class="contrastlink" href="http://medimage.co.nz/technical-guide/#proxy" target="_blank">'Cloud server' setup</a> for setup instructions. This allows you to have complete control of your <b>security and bandwidth</b>, and while it can be free if you already have servers in place, it usually takes an IT provider to set it up.<br/><br/>If the <b>'Your server pairing' button is highlighted</b>, and you are asked for a 4-digit pairing code, push the large 'Your server pairing' button.</p>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                   
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Transferred via AtomJump
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <h2>CUSTOMSTRING</h2>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-history fa-fw"></i> Logs
                        </div>
                        <div class="panel-body">
                            <p><a href="/addon/current-log">See current logs</a></p>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            Version <b>2.1.4</b>
                        </div>
                    </div>
                    <!-- /.panel -->
                    
                    
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
